<% content_for :body_content_left do %>
  <div class='newsletters'>
    <p>
      Thank you for signing up to receive email updates from MyAppalogues. We respects your privacy and we will not share our customer information with anyone.<br /> 
      Your information will be used exclusively for newsletter and promotions by us.
    </p>

    <%= form_for @newsletter do |f| %>
      <%= render :partial => "/shared/admin/error_messages",
                 :locals => {
                   :object => @newsletter,
                   :include_object_name => true
                 } %>
      <div class='field'>
        <%= f.required_label :name %>
        <%= f.text_field :name %>
      </div>
      <div class='field'>
        <%= f.required_label :email %>
        <%= f.text_field :email %>
      </div>
      <div class='actions'>
        <%= f.submit "Subscribe" %>
        <%= link_to t('.privacy_policy'), "/pages/privacy-policy", :id => "privacy_link" if RefinerySetting.find_or_set(:show_contact_privacy_link, false) %>
      </div>
    <% end %>
  </div>
<% end %>
<%= render :partial => "/shared/content_page" %>
